body {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	text-align: center;
	padding: 0;
}
li {
	margin-top: 1%;
	margin-bottom: 1%;
}
h1, h2, h3 {
	text-align: center;
}

#question-box-outer{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 1%;
	border: 1px solid black;
}
#correct-answer-screen{
	display: none; /* Hidden by default */
	background-color: green;
}
#incorrect-answer-screen{
	display: none; /* Hidden by default */
	background-color: red;
}
#time-runout-screen{
	display: none; /* Hidden by default */
	background-color: yellow;
}
#game-complete-screen{
	display: none; /* Hidden by default */
	background-color: blue;
}

/*modal css from w3schools*/
.modal {
    position: fixed;
	z-index: 1;
	width:60%;
	height: 60%;
	margin-top: 20%;
	margin-right: 20%;
	margin-left: 20%;
	border: 1px solid black;
}